<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>映画</th>
      <th>題名</th>
      <th>レビュー</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% reviews.each do |review| %>
      <tr>
        <td><%= link_to(review.movie) do %>
          <%= image_tag review.movie.image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= review.movie.name %></td>
        <td><%= review.introduction %></td>
      </tr>
    <% end %>
  </tbody>
</table>