<footer class="shadow-sm">
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>CopyRight 2023 Movies ALL Rights reserved.</p>
    	</div>
    </div>
  </div>
</footer>
