<div class='container'>
  <div class='row'>
          <h2 class="mt-3">ジャンル絞り込み</h2>
          <div class="form-group">
          <% Genre.all.each do |genre| %>
            <%= link_to genre.name, genre_reviews_path(genre), class: 'mr-5 btn btn-sm btn-outline-secondary' %>
          <% end %>
          </div>
    </div>
</div>